
   body{
                    margin:0px;
                }
                a{
                    color: blueviolet;
                    text-decoration: bor;
                }
                h1{
                    font-size: 45px;
                    text-align: center;
                    border-bottom: 1px solid gray;
                    margin: 0px;
                    padding: 40px;
                }
               #grid ol{
                   font-size: 20px;
                   border-right:1px solid black;
                   width: 80px;
                   margin: 0px;
                   padding: 32px;
                   
               }
               #grid{
                   display: grid;
                   grid-template-columns: 150px 1fr;
                }
                #Article{
                    padding: 25px;
                }
                /*screen < 800px 미디어커리*/
                @media(max-width:800px){
                    #grid{
                        display: block;
                        
                }
                #grid ol{
                    font-size: 20px;
                    border-right:none;
                }
                h1{
                    border-bottom: none;
            }
        }
